name: Checks

on:
  workflow_call:

jobs:
  format-check:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync
      - name: Run ruff format check
        run: uv run ruff format --check

  lint-check:
    name: Lint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync
      - name: Run lint
        run: uv run ruff check

  type-check:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync
      - name: Run mypy
        run: uv run mypy

  end-to-end-tests:
    name: End to end tests
    needs:
      - format-check
      - lint-check
      - type-check
    uses: ./.github/workflows/_end-to-end-tests.yml
